matplotlib==3.5.1
tensorflow==2.8.0
torch==1.10.2+cu113
torchvision==0.11.3+cu113
opencv-python==4.5.5.62
tqdm==4.63.0
mmcv-full==1.4.6
mmpose==0.23.0
mmdet==2.22.0
mmcls==0.20.1
mmtrack==0.10.0
onnxruntime==1.10.0
depthai==2.15.0.0
wget==3.2
gdown==4.4.0
blobconverter==1.2.9
tf2onnx==1.9.3
onnx_tf==1.9.0
